/* Importing the 'Roboto' font family from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Setting the base font-family for the whole page */
body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

/* Styling for the top header section */
.top-header {
  /* Set height for the hero section */
  height: 50px;
  padding: 20px;
}

/* Applying styles to the top header h1 element */
.top-header h1 {
  text-align: center;
  color: #00000; /* Black color */
  font-size: 30px;
}

/* Styling for text input elements (type="text") */
input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styling for buttons */
button {
    font-size:18px;
    padding: 8px 16px;
    background-color: #2D106D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.container button {
  margin-bottom: 9px;
}

/* Styling for button on hover state */
button:hover {
    background-color: #0056b3; /* Slightly lighter blue color */
}


/* Style for the table */
#testResults table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #0000FF;
}

/* Style for table header cells (th) */
#testResults th {
  cursor: pointer;
  background-color: #f2f2f2;
  border: 3px solid #2D106D;
  padding: 8px;
  text-align: left;
}

/* Style for table data cells (td) */
#testResults td {
  border: 3px solid #2D106D;
  padding: 8px;
}

/* Flexbox styling for the header section */
.headers{
    display: flex;
}

/* Styling for the modal dialog */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* transparent like black background */
}

/* Styling for the modal content container */
.modal-content {
    border-radius: 20px;
    background-color: #fefefe; /* White color */
    margin: 10% auto;
    padding: 100px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* Styling for the close icon in the modal */
.close {
  position: absolute;
  top:170px;
  right: 380px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: black;
  border-radius: 20px;
  color: #fff; /* White color */
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


/* Styling for the close icon on hover state */
.close:hover {
    color: #808080; /* Gray color */
}

/* Style the select box */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Light gray color */
}

/* Styling for the option elements in the select box */
select option {
  text-align: left;
  padding: 8px 0;
}

/* Styling for the container div */
.container > div {
  margin-bottom: 20px;
}

/* Styling for the option elements in the container div */
.container div select option {
  text-align: center;
}

/* Styling for the labels in the container div */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styling for the button elements inside .container div */
.container div button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;  /* White color */
  background-color: #2D106D;  /* Dark blue color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for number input elements (type="number") */
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Light gray color */
}

/* Styling for the #initialData and #testResults sections */
#initialData,
#testResults {
    flex: 1;
    margin: 5px;
    overflow: auto;
}

/* Styling for the button-div-results section */
.button-div-results {
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Styling for the button with class .button-download */
.button-download {
  background-color: #008000; /* Green */
}

/* Styling for the info-div section */
.info-div {
  display: inline-block;
  float: left;
  font-size:18px;
  margin-top: 40px;
  margin-right: 5%;
  margin-bottom: 30px;
}

/* Styling for the search-container section */
.search-container {
  float: right;
  margin-right: 50px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Styling for the search-input element */
.search-input {
  font-size: 20px;
  border: 5px solid #007BFF; /* Blue color */
  border-radius: 20px;
  transition: border-color 0.3s ease;
}

/* Styling for the search-input on hover state */
.search-input:hover {
  border-color: #007BFF;   /* Blue color on hover */
}

/* Styling for the hidden class */
.hidden {
    display: none;
}

/* Styling for the clearFilterDiv section */
.clearFilterDiv {
  position: absolute;
}

/* Styling for the sort-icon element */
.sort-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

/* Styling for the ascending sort-icon */
.sort-icon.asc-icon::before {
  content: "\25B2"; /* Ascending sort icon */
}

/* Styling for the descending sort-icon */
.sort-icon.desc-icon::before {
  content: "\25BC"; /* Descending sort icon */
}


/* Styling for the filter icon */
.filter-icon {
    font-size:20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    margin-top: 40px;

}

